{% extends "base.html" %}

{% block contents %}

{#<div class="row mt-5">#}
{#    <div class="col-12">#}
{#        <form action="." method="post">#}
{#        {% csrf_token %}#}
{#        {% for field in form %}#}
{##}
{#        <div class="form-group">#}
{#            <label for="{{ field.id_for_label }}">{{field.label}}</label>#}
{#            {{ field.field.widget.name }}#}
{#            {% ifequal field.name 'contents' %}#}
{#            <textarea  style="height:300px" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"></textarea>#}
{#            {% else %}#}
{#            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}"/>#}
{#            {% endifequal %}#}
{#        </div>#}
{#        {% if field.errors %}#}
{#        <span style="color: red">{{ field.errors }}</span>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{##}
{#        <button type="submit" class="btn btn-primary">글쓰기</button>#}
{#    </form>#}
{#    </div>#}
{#</div>#}

    <form action="." method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="수정" class="btn btn-info btn-sm">
    </form>

{% endblock %}